In [14]:
import pandas as pd
import numpy as np
import scipy.stats as st

df = pd.read_csv('data_final_1.csv')
df

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,Variation_x,Variation_y,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,time_spend,user_error,age_category,balance_category
0,0,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,7.0,0.0,adult,Medium
1,1,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,32.0,0.0,adult,Medium
2,2,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,99.0,0.0,adult,Medium
3,3,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,20.0,0.0,adult,Medium
4,4,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,NaN,0.0,adult,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321190,321190,9999729,843385170_36953471821,493310979_9209676464_421146,step_1,2017-04-20 14:22:49,Test,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,287.0,0.0,adult,Very High
321191,321191,9999729,843385170_36953471821,493310979_9209676464_421146,step_2,2017-04-20 14:27:36,Test,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,NaN,0.0,adult,Very High
321192,321192,9999729,843385170_36953471821,493310979_9209676464_421146,start,2017-04-20 14:28:57,Test,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,NaN,0.0,adult,Very High
321193,321193,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,Test,Test,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,8.0,0.0,adult,Very High
321194,321194,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,Test,Test,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,NaN,NaN,adult,Very High

In [15]:
hypo1 = df.groupby(['Variation_x','process_step'])['client_id'].count().reset_index()

In [16]:
total_control = hypo1[hypo1['Variation_x'] == 'Control'].groupby('Variation_x')['client_id'].sum()

In [17]:
hypo1_Control = hypo1[hypo1['Variation_x'] == 'Control']
hypo1_Control['rate'] = hypo1_Control['client_id'].apply(lambda x : round((x / total_control)*100,2))
hypo1_Control

C:\Users\FX516\AppData\Local\Temp\ipykernel_22840\4287943241.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hypo1_Control['rate'] = hypo1_Control['client_id'].apply(lambda x : round((x / total_control)*100,2))

  Variation_x process_step  client_id   rate
0     Control      confirm      17498  12.20
1     Control        start      47589  33.18
2     Control       step_1      29657  20.68
3     Control       step_2      25877  18.04
4     Control       step_3      22787  15.89

In [18]:
total_test = hypo1[hypo1['Variation_x'] == 'Test'].groupby('Variation_x')['client_id'].sum()

In [19]:
hypo1_Test = hypo1[hypo1['Variation_x'] == 'Test']
hypo1_Test['rate'] = hypo1_Test['client_id'].apply(lambda x : round((x / total_test)*100,2))
hypo1_Test

C:\Users\FX516\AppData\Local\Temp\ipykernel_22840\1519913666.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hypo1_Test['rate'] = hypo1_Test['client_id'].apply(lambda x : round((x / total_test)*100,2))

  Variation_x process_step  client_id   rate
5        Test      confirm      25716  14.46
6        Test        start      56452  31.75
7        Test       step_1      38753  21.80
8        Test       step_2      30978  17.42
9        Test       step_3      25888  14.56

In [20]:
pd.concat([hypo1_Test, hypo1_Control], axis=0)

  Variation_x process_step  client_id   rate
5        Test      confirm      25716  14.46
6        Test        start      56452  31.75
7        Test       step_1      38753  21.80
8        Test       step_2      30978  17.42
9        Test       step_3      25888  14.56
0     Control      confirm      17498  12.20
1     Control        start      47589  33.18
2     Control       step_1      29657  20.68
3     Control       step_2      25877  18.04
4     Control       step_3      22787  15.89

In [21]:
test_completion_rate = hypo1_Test[hypo1_Test['process_step'] == 'confirm']['rate']
control_completion_rate = hypo1_Control[hypo1_Control['process_step'] == 'confirm']['rate']

In [22]:
# H0 --> TEST completion rate == CONTROL completion rate
# H1 --> TEST completion rate != CONTROL completion rate
test_completion_rate , control_completion_rate
# Podemos negar la hipotesis 0

(5    14.46
 Name: rate, dtype: float64,
 0    12.2
 Name: rate, dtype: float64)

In [23]:
# 2
#H0 --> Diference between TEST completion rate and CONTROL completion rate is at least 5%
#H1 --> Diference between TEST completion rate and CONTROL completion rate is more than 5%
abs(float(test_completion_rate) - float(control_completion_rate))
# No Podemos negar la hipotesis 0

C:\Users\FX516\AppData\Local\Temp\ipykernel_22840\76282984.py:4: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  abs(float(test_completion_rate) - float(control_completion_rate))

2.2600000000000016

In [24]:
# 3
# H0 --> Gender is important between TEST and CONTROL
# H1 --> Gender is NOT important between TEST and CONTROL
contingency_table = pd.crosstab(df['gendr'], df['Variation_x'])
chi2, p, dof, expected = st.chi2_contingency(contingency_table)

alpha = 0.05

if p > alpha:
    print(f"No podemos rechazar la hipotesis 0 el {100 - (alpha)*100}% de la veces")
else:
    print(f"Podemos rechazar la hipotesis 0 el {100 - (alpha)*100}% de la veces")

Podemos rechazar la hipotesis 0 el 95.0% de la veces

In [25]:
# 4
# H0 --> El dinero que tenga el cliente es importante between TEST and CONTROL
# H1 --> El dinero que tenga el cliente NO es importante  important between TEST and CONTROL

contingency_table = pd.crosstab(df['balance_category'], df['Variation_x'])
chi2, p, dof, expected = st.chi2_contingency(contingency_table)

alpha = 0.05

if p > alpha:
    print(f"No podemos rechazar la hipotesis 0 el {100 - (alpha)*100}% de la veces")
else:
    print(f"Podemos rechazar la hipotesis 0 el {100 - (alpha)*100}% de la veces")

Podemos rechazar la hipotesis 0 el 95.0% de la veces

In [ ]:
# 4
# H0 --> El tiempo cambia entre TEST and CONTROL
# H1 --> El tiempo cambia NO entre TEST and CONTROL

contingency_table = pd.crosstab(df['balance_category'], df['Variation_x'])
chi2, p, dof, expected = st.chi2_contingency(contingency_table)

alpha = 0.05

if p > alpha:
    print(f"No podemos rechazar la hipotesis 0 el {100 - (alpha)*100}% de la veces")
else:
    print(f"Podemos rechazar la hipotesis 0 el {100 - (alpha)*100}% de la veces")