In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

df_data = pd.read_csv('df_final_data.csv')

In [2]:
df_data.sort_values(['visitor_id','visit_id','date_time']).head(20)

,client_id,visitor_id,visit_id,process_step,date_time,Variation_x,Variation_y,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
99391,6265388,100019786_4272121951,703380671_89376183829_330646,start,2017-04-15 15:13:33,Test,Test,7.0,94.0,42.5,U,4.0,214896.60,5.0,8.0
99390,6265388,100019786_4272121951,703380671_89376183829_330646,step_1,2017-04-15 15:13:46,Test,Test,7.0,94.0,42.5,U,4.0,214896.60,5.0,8.0
99389,6265388,100019786_4272121951,703380671_89376183829_330646,step_2,2017-04-15 15:14:21,Test,Test,7.0,94.0,42.5,U,4.0,214896.60,5.0,8.0
99388,6265388,100019786_4272121951,703380671_89376183829_330646,step_3,2017-04-15 15:15:50,Test,Test,7.0,94.0,42.5,U,4.0,214896.60,5.0,8.0
99387,6265388,100019786_4272121951,703380671_89376183829_330646,confirm,2017-04-15 15:16:18,Test,Test,7.0,94.0,42.5,U,4.0,214896.60,5.0,8.0
99386,6265388,100019786_4272121951,703380671_89376183829_330646,confirm,2017-04-15 15:16:47,Test,Test,7.0,94.0,42.5,U,4.0,214896.60,5.0,8.0
299435,2340487,100026388_52569174348,560716384_55516231568_734638,start,2017-06-09 18:37:47,Test,Test,4.0,59.0,31.0,U,2.0,30718.20,1.0,4.0
299434,2340487,100026388_52569174348,560716384_55516231568_734638,start,2017-06-09 18:37:59,Test,Test,4.0,59.0,31.0,U,2.0,30718.20,1.0,4.0
299433,2340487,100026388_52569174348,560716384_55516231568_734638,step_1,2017-06-09 18:38:06,Test,Test,4.0,59.0,31.0,U,2.0,30718.20,1.0,4.0
299432,2340487,100026388_52569174348,560716384_55516231568_734638,start,2017-06-09 18:38:41,Test,Test,4.0,59.0,31.0,U,2.0,30718.20,1.0,4.0
299431,2340487,100026388_52569174348,560716384_55516231568_734638,start,2017-06-09 18:39:45,Test,Test,4.0,59.0,31.0,U,2.0,30718.20,1.0,4.0
299430,2340487,100026388_52569174348,560716384_55516231568_734638,step_1,2017-06-09 18:39:50,Test,Test,4.0,59.0,31.0,U,2.0,30718.20,1.0,4.0
299429,2340487,100026388_52569174348,560716384_55516231568_734638,step_2,2017-06-09 18:40:07,Test,Test,4.0,59.0,31.0,U,2.0,30718.20,1.0,4.0
299428,2340487,100026388_52569174348,560716384_55516231568_734638,step_3,2017-06-09 18:40:54,Test,Test,4.0,59.0,31.0,U,2.0,30718.20,1.0,4.0
299427,2340487,100026388_52569174348,560716384_55516231568_734638,confirm,2017-06-09 18:41:43,Test,Test,4.0,59.0,31.0,U,2.0,30718.20,1.0,4.0
19006,762846,10008560_69050398598,248633003_84368331010_346467,start,2017-04-14 22:09:50,Control,Control,14.0,172.0,63.5,M,2.0,340335.52,6.0,9.0
19005,762846,10008560_69050398598,248633003_84368331010_346467,step_1,2017-04-14 22:09:59,Control,Control,14.0,172.0,63.5,M,2.0,340335.52,6.0,9.0
19004,762846,10008560_69050398598,248633003_84368331010_346467,step_2,2017-04-14 22:10:42,Control,Control,14.0,172.0,63.5,M,2.0,340335.52,6.0,9.0
19003,762846,10008560_69050398598,248633003_84368331010_346467,step_2,2017-04-14 22:10:54,Control,Control,14.0,172.0,63.5,M,2.0,340335.52,6.0,9.0
19002,762846,10008560_69050398598,248633003_84368331010_346467,step_3,2017-04-14 22:11:16,Control,Control,14.0,172.0,63.5,M,2.0,340335.52,6.0,9.0

In [3]:
df_test = df_data[df_data['Variation_x'] == 'Test']
df_control = df_data[df_data['Variation_x'] == 'Control']

In [4]:
total_users = df_test['process_step'].count()
test_conversion = df_test['process_step'].value_counts().reset_index()
test_conversion['percentage'] = round((test_conversion['count']/total_users)*100,2)
print('Usuarios Totales: ', total_users)
test_conversion

Usuarios Totales:  177787

  process_step  count  percentage
0        start  56452       31.75
1       step_1  38753       21.80
2       step_2  30978       17.42
3       step_3  25888       14.56
4      confirm  25716       14.46

In [5]:
total_users = df_control['process_step'].count()
control_conversion = df_control['process_step'].value_counts().reset_index()
control_conversion['percentage'] = round((test_conversion['count']/total_users)*100,2)
print('Usuarios Totales: ', total_users)
control_conversion

Usuarios Totales:  143408

  process_step  count  percentage
0        start  47589       39.36
1       step_1  29657       27.02
2       step_2  25877       21.60
3       step_3  22787       18.05
4      confirm  17498       17.93

In [6]:
df_data = df_data.sort_values(by=['client_id','visitor_id','visit_id','date_time']).reset_index(drop=True)

In [7]:
def time_spend(row, next_row):
    formato = "%Y-%m-%d %H:%M:%S"
    if row['visitor_id'] == next_row['visitor_id'] and row['client_id'] == next_row['client_id'] and row['visit_id'] == next_row['visit_id']:
        if row['process_step'] == 'start' and next_row['process_step'] == 'step_1' :
            return abs(datetime.strptime(next_row['date_time'], formato) - datetime.strptime(row['date_time'], formato)).total_seconds()
        elif row['process_step'] == 'step_1' and next_row['process_step'] == 'step_2':
            return abs(datetime.strptime(next_row['date_time'], formato) - datetime.strptime(row['date_time'], formato)).total_seconds()
        elif row['process_step'] == 'step_2' and next_row['process_step'] == 'step_3':
            return abs(datetime.strptime(next_row['date_time'], formato) - datetime.strptime(row['date_time'], formato)).total_seconds()
        elif row['process_step'] == 'step_3' and next_row['process_step'] == 'confirm':
            return abs(datetime.strptime(next_row['date_time'], formato) - datetime.strptime(row['date_time'], formato)).total_seconds()
        else:
            return np.nan
    else:
        return np.nan

df_data['time_spend'] = np.nan
for i in range(len(df_data) - 1):
    df_data.loc[i, 'time_spend'] = time_spend(df_data.loc[i], df_data.loc[i + 1])
df_data

,client_id,visitor_id,visit_id,process_step,date_time,Variation_x,Variation_y,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,time_spend
0,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,7.0
1,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,32.0
2,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,99.0
3,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,20.0
4,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321190,9999729,843385170_36953471821,493310979_9209676464_421146,step_1,2017-04-20 14:22:49,Test,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,287.0
321191,9999729,843385170_36953471821,493310979_9209676464_421146,step_2,2017-04-20 14:27:36,Test,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,NaN
321192,9999729,843385170_36953471821,493310979_9209676464_421146,start,2017-04-20 14:28:57,Test,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,NaN
321193,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,Test,Test,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,8.0
321194,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,Test,Test,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,NaN

In [8]:
df_data[['client_id','visitor_id','visit_id','date_time','time_spend','process_step']].head(20)

,client_id,visitor_id,visit_id,date_time,time_spend,process_step
0,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,7.0,start
1,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:58:03,32.0,step_1
2,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:58:35,99.0,step_2
3,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 13:00:14,20.0,step_3
4,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 13:00:34,NaN,confirm
5,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,7.0,start
6,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:35,18.0,step_1
7,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:53,189.0,step_2
8,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:45:02,163.0,step_3
9,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:47:45,NaN,confirm
10,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:36:30,NaN,start
11,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:37:02,NaN,start
12,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:38:24,NaN,start
13,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:38:52,NaN,start
14,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:51:28,49.0,start
15,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:52:17,NaN,step_1
16,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:53:20,9.0,step_1
17,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:53:29,275.0,step_2
18,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:58:04,NaN,step_3
19,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:59:55,NaN,step_1

In [9]:
df_data.groupby('process_step')['time_spend'].mean().reset_index()

  process_step  time_spend
0      confirm         NaN
1        start   33.940854
2       step_1   35.633517
3       step_2   86.724563
4       step_3  114.965693

In [10]:
def get_error(row, previous_row):
    if row['visitor_id'] == previous_row['visitor_id'] and row['client_id'] == previous_row['client_id'] and row['visit_id'] == previous_row['visit_id']:
        if row['process_step'] == 'start' and previous_row['process_step'] == 'step_1':
            return 1
        elif row['process_step'] == 'step_1' and previous_row['process_step'] == 'step_2':
            return 1
        elif row['process_step'] == 'step_2' and previous_row['process_step'] == 'step_3':
            return 1
        elif row['process_step'] == 'step_3' and previous_row['process_step'] == 'confirm':
            return 1
        else:
            return 0
    else:
            return 0

df_data['user_error'] = np.nan
for i in range(1,len(df_data)):
    df_data.loc[i-1, 'user_error'] = get_error(df_data.loc[i], df_data.loc[i - 1])
df_data

,client_id,visitor_id,visit_id,process_step,date_time,Variation_x,Variation_y,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,time_spend,user_error
0,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,7.0,0.0
1,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,32.0,0.0
2,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,99.0,0.0
3,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,20.0,0.0
4,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321190,9999729,843385170_36953471821,493310979_9209676464_421146,step_1,2017-04-20 14:22:49,Test,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,287.0,0.0
321191,9999729,843385170_36953471821,493310979_9209676464_421146,step_2,2017-04-20 14:27:36,Test,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,NaN,0.0
321192,9999729,843385170_36953471821,493310979_9209676464_421146,start,2017-04-20 14:28:57,Test,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,NaN,0.0
321193,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,Test,Test,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,8.0,0.0
321194,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,Test,Test,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,NaN,NaN

In [11]:
df_data[['client_id','visitor_id','visit_id','date_time','user_error','process_step']].head(50)

,client_id,visitor_id,visit_id,date_time,user_error,process_step
0,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,0.0,start
1,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:58:03,0.0,step_1
2,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:58:35,0.0,step_2
3,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 13:00:14,0.0,step_3
4,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 13:00:34,0.0,confirm
5,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,0.0,start
6,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:35,0.0,step_1
7,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:53,0.0,step_2
8,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:45:02,0.0,step_3
9,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:47:45,0.0,confirm
10,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:36:30,0.0,start
11,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:37:02,0.0,start
12,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:38:24,0.0,start
13,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:38:52,0.0,start
14,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:51:28,0.0,start
15,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:52:17,0.0,step_1
16,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:53:20,0.0,step_1
17,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:53:29,0.0,step_2
18,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:58:04,0.0,step_3
19,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:59:55,0.0,step_1
20,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 19:00:15,0.0,step_1
21,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 19:00:17,1.0,step_2
22,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 19:00:26,0.0,step_1
23,1104,194240915_18158000533,543158812_46395476577_767725,2017-06-12 07:49:18,0.0,start
24,1104,194240915_18158000533,643221571_99977972121_69283,2017-06-20 22:31:33,0.0,start
25,1186,446844663_31615102958,507052512_11309370126_442139,2017-04-08 15:59:16,0.0,start
26,1186,446844663_31615102958,795373564_99931517312_810896,2017-04-08 18:05:02,0.0,start
27,1186,446844663_31615102958,795373564_99931517312_810896,2017-04-08 18:05:13,0.0,step_1
28,1186,446844663_31615102958,795373564_99931517312_810896,2017-04-08 18:05:24,0.0,step_2
29,1195,766842522_69992551638,393817425_39015278493_996341,2017-04-05 20:15:26,0.0,start
30,1195,766842522_69992551638,393817425_39015278493_996341,2017-04-05 20:15:59,0.0,step_1
31,1195,766842522_69992551638,393817425_39015278493_996341,2017-04-05 20:17:37,0.0,step_2
32,1195,766842522_69992551638,393817425_39015278493_996341,2017-04-05 20:18:08,0.0,step_3
33,1195,766842522_69992551638,393817425_39015278493_996341,2017-04-05 20:19:31,0.0,confirm
34,1197,753759429_54481946928,71862471_21202285428_848395,2017-04-01 17:16:24,0.0,start
35,1197,753759429_54481946928,71862471_21202285428_848395,2017-04-01 17:16:28,0.0,step_1
36,1197,753759429_54481946928,71862471_21202285428_848395,2017-04-01 17:16:34,0.0,step_2
37,1197,753759429_54481946928,71862471_21202285428_848395,2017-04-01 17:17:25,1.0,step_3
38,1197,753759429_54481946928,71862471_21202285428_848395,2017-04-01 17:17:36,0.0,step_2
39,1197,753759429_54481946928,71862471_21202285428_848395,2017-04-01 17:17:42,0.0,step_3
40,1197,753759429_54481946928,71862471_21202285428_848395,2017-04-01 17:17:59,0.0,confirm
41,1336,920624746_32603333901,583743392_96265099036_939815,2017-05-08 06:05:12,0.0,start
42,1336,920624746_32603333901,583743392_96265099036_939815,2017-05-08 06:05:37,0.0,step_1
43,1336,920624746_32603333901,583743392_96265099036_939815,2017-05-08 06:06:03,0.0,step_2
44,1336,920624746_32603333901,583743392_96265099036_939815,2017-05-08 06:06:54,0.0,step_3
45,1336,920624746_32603333901,583743392_96265099036_939815,2017-05-08 06:08:43,0.0,confirm
46,1336,920624746_32603333901,614001770_19101025926_112779,2017-05-08 08:21:38,0.0,confirm
47,1336,920624746_32603333901,614001770_19101025926_112779,2017-05-08 08:23:00,0.0,confirm
48,1346,123474046_4204671056,27144337_83739845380_214282,2017-06-06 18:20:28,0.0,start
49,1346,123474046_4204671056,27144337_83739845380_214282,2017-06-06 18:20:36,1.0,step_1

In [12]:
total = df_data.groupby('process_step')['client_id'].count().reset_index(name='count')

error_df = df_data.groupby('process_step')['user_error'].value_counts().reset_index()
error_aux = error_df[error_df['user_error'] == 1]
error = pd.merge(error_aux, total, on='process_step')
error.rename(columns={'process_step': 'process_step','user_error':'user_error','count_x':'total_errors','count_y':'total_steps'}, inplace=True)
error['error_rate'] = round(error['total_errors']/error['total_steps']*100, 2)
error.sort_values(by='error_rate', ascending=False)

  process_step  user_error  total_errors  total_steps  error_rate
1       step_1         1.0          8893        68410       13.00
3       step_3         1.0          4654        48675        9.56
2       step_2         1.0          4534        56855        7.97
0      confirm         1.0           159        43214        0.37

In [15]:
df_data.shape

(321195, 17)

In [17]:
def age_to_category(age):
    category = ''
    if age < 10:
        category = 'young'
    elif 10 <= age < 20:
        category = 'teenager'
    elif 20 <= age < 50:
        category = 'adult'
    elif age >= 50:
        category = 'senior'
    return category

df_data['age_category'] = df_data['clnt_age'].apply(lambda x : age_to_category(x))

In [28]:
df_data.to_csv('data_final_1.csv')

In [26]:
def bal_to_category(bal):
    if bal < 10000:
        return 'Low'
    elif 10000 <= bal < 50000:
        return 'Medium'
    elif 50000 <= bal < 100000:
        return 'High'
    else:  # bal >= 100000
        return 'Very High'

df_data['balance_category'] = df_data['bal'].apply(lambda x : bal_to_category(x))

In [27]:
df_data

,client_id,visitor_id,visit_id,process_step,date_time,Variation_x,Variation_y,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,time_spend,user_error,age_category,balance_category
0,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,7.0,0.0,adult,Medium
1,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,32.0,0.0,adult,Medium
2,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,99.0,0.0,adult,Medium
3,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,20.0,0.0,adult,Medium
4,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,NaN,0.0,adult,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321190,9999729,843385170_36953471821,493310979_9209676464_421146,step_1,2017-04-20 14:22:49,Test,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,287.0,0.0,adult,Very High
321191,9999729,843385170_36953471821,493310979_9209676464_421146,step_2,2017-04-20 14:27:36,Test,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,NaN,0.0,adult,Very High
321192,9999729,843385170_36953471821,493310979_9209676464_421146,start,2017-04-20 14:28:57,Test,Test,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,NaN,0.0,adult,Very High
321193,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,Test,Test,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,8.0,0.0,adult,Very High
321194,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,Test,Test,23.0,281.0,49.0,F,2.0,431887.61,1.0,4.0,NaN,NaN,adult,Very High